/* "Tamming" Box Model With Reset */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Universal Styles */
html {
  font-size: 16px;
}

body {
  font-family: "Helvetica", sans-serif;
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

h1 {
  font-size: 1.75rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
}

.content-description {
  font-size: .75rem;
}

p {
  font-size: .75rem;
}

a {
  font-size: .75rem;
}


/* nav */

.nav,
.logo,
ul {
  display: flex;
  align-items: center;
}

.mobile {
  display: none;
}

.nav {
  height: 4rem;
}

.logo {
  margin-left: 1.5rem;
  height: 2rem;
}

.logo p span {
  font-weight: bold;
}

.logo p {
  font-weight: 200;
}

nav {
  flex-grow: 1;
}

.desktop li {
  padding-right: 1rem;
}

.desktop {
  padding-right: .5rem;
}

/* banner */

.header-banner {
  display: flex;
}

.header-image {
  max-width: 60%;
  padding: 2rem 1.5rem;
}

.header-image img {
  max-width: 100%;
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 1rem;
}

.cta h1,
.cta span,
.cta a {
  width: 70%;
}

.cta a {
  display: inline-block;
  background-color: darkgrey;
  color: white;
  padding: .5rem 6rem;
  font-size: .85rem;
}

/* content */

.content,
.side-content {
  display: flex;
}

.main-content {
  width: 60%;
  padding: 2rem 1.5rem;
  position: relative;
}

.main-content-image img {
  max-width: 100%;
}

.main-content h2 {
  padding-bottom: 1.5rem;
  padding-top: 1rem;
}

.main-content span {
  font-size: .75rem;
  display: block;
  padding-top: 2rem;
}

.side-content-image {
  width: 32%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: .75rem;
  padding-bottom: .75rem;

}

.side-content-image img {
  max-width: 100%;
  height: auto;
}

.side-content-details {
  width: 65%;
}

.side-content-container {
  padding-top: 2rem;
  border-left: 1px solid grey;
  width: 40%;
}

.side-content {
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
}

.description,
.side-content-details a {
  width: 80%;
}

.side-content-details a {
  color: blue;
  padding-top: .5rem;
}

.side-content-details h3 {
  padding-bottom: .25rem;
}

#guest,
.header-banner {
  background-color: grey;
}

/* start learning  */
.start-learning h2 {
  text-align: center;
  padding-bottom: 2rem;
}

.start-learning {
  padding: 2rem 4.5rem;
}

.courses-section-one,
.courses-section-two {
  display: flex;
  justify-content: space-between;
}
.courses-section-one {
  padding-bottom: 1rem;
}

.course {
  width: 32%;
  background-color: grey;
}

.course-image img {
  max-width: 100%;
  height: auto;
}

.course-info {
  padding: .75rem 0rem 1rem .75rem;
  width: 90%;
}

.course-info p {
  padding-bottom: .25rem;
  padding-top: .5rem;
}

/* thesis-exhibit */

.container h2 {
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 2rem;

}

.thesis-exhibit,
.side-thesis-exhibit {
  display: flex;
}

.main-thesis-exhibit {
  width: 60%;
  padding: 0rem 1rem 2rem 1rem;
}

.video,
p {
  width: 100%;
}

.video video {
  max-width: 100%;
  height: auto;
}

.side-thesis-exhibit-container {
  width: 40%;
}

.side-thesis-exhibit-image {
  width: 35%;
  padding: .75rem .75rem .5rem .75rem;
}

.side-thesis-info {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-thesis-exhibit-image img {
  max-width: 100%;
  height: auto;
}

.side-thesis-exhibit:first-child {
  background-color: grey;
}

.main-thesis-exhibit h3 {
  padding: 1rem 0rem;
}

/* footer */

footer,
footer div {
  display: flex;
  padding-bottom: 2rem;
}

footer p {
  padding-left: 1rem;
}

footer a {
  padding-left: .5rem;
}
