/* "Tamming" Box Model With Reset */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Universal Styles */
html {
  font-size: 16px;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
  background-color: #FFF0BF;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

h1 {
  font-size: 1.75rem;
  font-weight: bold;
  font-family: 'Bitter', serif;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Bitter', serif;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Bitter', serif;
}

.content-description {
  font-size: .75rem;
}

p {
  font-size: .75rem;
}

a {
  font-size: .75rem;
}


/* nav */

.nav,
.logo,
ul {
  display: flex;
  align-items: center;
  background-color: #FFF0BF;
  color: #4E3B00;
}

.desktop a:hover {
  text-decoration: underline;
}

.mobile {
  display: none;
}

.nav {
  height: 4rem;
}

.logo {
  margin-left: 1.5rem;
  height: 2rem;
}

.logo p span {
  font-weight: bold;
}

.logo p {
  font-weight: 200;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}

nav {
  flex-grow: 1;
}

.desktop li {
  padding-right: 1rem;
}

.desktop {
  padding-right: .5rem;
}



@media only screen and (max-width: 515px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .mobile li {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .mobile li:hover {
    background-color: #D6DBF6;
    border-radius: 20px;
  }
}

/* banner */

.header-banner {
  color: #4E3B00;
  border-radius: 30px 30px 0 0;
}

.header-banner {
  display: flex;
}

.header-image {
  max-width: 60%;
  padding: 2rem 1.5rem;
}

.header-image img {
  max-width: 100%;
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 1rem;
  width: 35%;
}

.cta a {
  display: inline-block;
  background-color: #001D32;
  color: #FFEFBB;
  padding: .5rem 6rem;
  font-size: .85rem;
  border-radius: 10px;
}

.cta a:hover {
  background-color: black;
}

.cta a:active {
  background-color: #301D40;
}

.cta span {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media only screen and (max-width: 775px) {

    .header-banner.container {
      width: 100%;
    }

  .header-banner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header-image {
    padding: 0;
    min-width: 80%;
  }

  .header-image img {
    width: 100%
  }

  .cta {
    padding: 1rem 0 2rem 0;
    min-width: 80%;
    display: flex;
    align-items: center;
    text-align: left;
  }

  .cta span {
    padding: 1rem 0 1rem 0;
  }
}

@media only screen and (max-width: 475px) {
  .header-image {
    min-width: 100%;
  }



  .cta {
    min-width: 90%;
  }
}

/* content */

.content,
.side-content {
  display: flex;
  background-color: #D6DBF6;
  color: #4E3B00;
}

.main-content {
  width: 60%;
  padding: 2rem 1.5rem;
}

.main-content-image img {
  max-width: 100%;
}

.main-content h2 {
  padding-bottom: 1.5rem;
  padding-top: 1rem;
  text-align: left;
}

.main-content span {
  font-size: .75rem;
  display: block;
  padding-top: 2rem;
}

.side-content-image {
  width: 32%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.side-content-image img {
  max-width: 100%;
  height: auto;
}

.side-content-details {
  width: 65%;
}

.side-content-container {
  padding-top: 1.25rem;
  width: 40%;
  border-left: 1px solid #FFF0BF;
}

.side-content {
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  border-bottom: 1px solid #FFF0BF;

}

.description,
.side-content-details a {
  width: 80%;
}

.side-content-details a {
  color: darkblue;
  padding-top: .5rem;
}

.side-content-details a:hover {
  text-decoration: underline;
}

.side-content-details h3 {
  padding-bottom: .25rem;
}

.side-content:hover {
  background-color: #BCC3F1;
}

.header-banner {
  background-color:#BCC3F1;
}

#mobile {
  display: none;
}

@media only screen and (max-width: 555px) {
  .main-content {
    display: none;
  }

  #mobile {
    display: block;
  }

  #desktop {
    display: none;
  }

  .side-content-container {
    width: 100%;
    padding: 1rem 1rem 0 0;
  }


  .side-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%
    padding: 0;
  }

  .side-content-image {
    min-width: 100%;
    padding: 0;
  }

  .side-content-details {
    margin: 1rem 0 2rem 1rem;
  }
}

/* start learning  */
.start-learning h2 {
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.start-learning {
  padding: 0rem 4.5rem 2rem 4.5rem;
  background-color:#D3E7F5;
  color: #4E3B00;
}

.courses-section-one,
.courses-section-two {
  display: flex;
  justify-content: space-between;
}
.courses-section-one {
  padding-bottom: 1rem;
}

.course {
  width: 32%;
  background-color: white;
}

.course-image img {
  max-width: 100%;
  height: auto;
}

.course-info {
  padding: .75rem 0rem 1rem .75rem;
  width: 90%;
}

.course-info p {
  padding-bottom: .25rem;
  padding-top: .5rem;
}

.course a {
  color: #4E3B00;
}

.course a:hover {
  text-decoration: underline;
}

.course:hover {
  box-shadow: 5px 10px 10px #FFF0BF;
}

@media only screen and (max-width: 555px) {

  .course-image,
  .course-info p,
  .course-info div {
    display: none;
  }

  .start-learning {
    padding: 0 0 2rem 0;
  }

  .courses-section-one,
  .courses-section-two {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 90%;
  }

  .course {
    width: 95%;
    margin: .75rem 1rem 0 1rem;
  }
}

/* thesis-exhibit */

.thesis h2 {
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 1rem;

}

.thesis {
  background-color: #D6DBF6;
  color: #4E3B00;
  border-radius: 0 0 30px 30px;
}

.thesis-exhibit,
.side-thesis-exhibit {
  display: flex;
}

.main-thesis-exhibit {
  width: 60%;
  padding: 0rem 1rem 2rem 1rem;
}

.video,
p {
  width: 100%;
}

.video video {
  max-width: 100%;
  height: auto;
}

.side-thesis-exhibit-container {
  width: 40%;
}

.side-thesis-exhibit-image {
  width: 35%;
  padding: .75rem .75rem .5rem .75rem;
}

.side-thesis-info {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-thesis-exhibit-image img {
  max-width: 100%;
  height: auto;
}

.side-thesis-exhibit:hover {
  background-color:#BCC3F1;
}

.side-thesis-exhibit-container {
  border-left: 1px solid #FFF0BF;
}

.side-thesis-exhibit:first-child {
  border-bottom: 1px solid #FFF0BF;
}

.main-thesis-exhibit h3 {
  padding: 1rem 0rem;
}

@media only screen and (max-width: 555px) {
  .side-thesis-exhibit-container,
  .main-thesis-exhibit h3,
  .main-thesis-exhibit p {
    display: none;
  }

  .main-thesis-exhibit {
    width: 100%;
  }

  .thesis {
    padding-top: 2rem;
  }
}

/* footer */

footer {
  padding: 1rem 0 1rem 1rem;
}

footer,
footer div {
  display: flex;
  padding-bottom: 2rem;
}

footer a {
  padding-right: .75rem;
}

footer a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 555px) {
  footer div {
    display: none;
  }
}
